
.btn_login {
  /* background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;*/
  width: 200px;
  background-color :rgb(14, 200, 99);
  border-radius: 50px;
}
.txt_header {
  color:  #35405e ;
  margin-top: 85px;
}
.txt_header_h1 {
  margin-top: 35px;
}
.center_margin_btn {
  margin-top: 190px;
}
.center_margin {
  margin-top: 100px;
}