<div class="container txt_header">
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="row">
        <div class="col">
          <div class="text-center">
          <img
            src="https://dev-logic.net/dxapi/img/pnk/pnk_rh_menu_line_Connect.png"
            class="rounded-circle"
            alt="Hospital"
            style="width: 150px;"
          />  </div>
        </div>
        <div class="col">
          <div class="text-left">
            <h1 class="txt_header_h1">
              <span class="fw-bold text-center ">Smart Connect</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container center_margin_btn">
  <div class="text-center">
    <button
      type="button"
      class="btn btn-light btn-lg btn_login"
      (click)="onClick($event)"
    >
      <span class="text-white"
        ><i class="fab fa-line fa-1x text-center"></i>LINE Login</span
      >
    </button>
  </div>
</div>

<div class="text-center"><small>Ver&nbsp;1.0.5</small></div>
<div class="container" hidden>
  <div class="text-center center_margin">
    <button
      class="btn btn-primary btn-lg btn_login"
      type="button"
      (click)="onClick($event)"
    >
      <img
        src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/line_login_base.png"
      />
    </button>
  </div>

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
--></div>
